
Getting and Cleaning Data/Course project/Data/features_info.txt

.txt

Getting and Cleaning Data/Course project/run_analysis.R

Getting and Cleaning Data/Course project/UCI HAR Dataset.zip

Getting and Cleaning Data/Course project/run_analysis.R

*.zip

Getting and Cleaning Data/Course project/.Rhistory

Getting and Cleaning Data/Course project/Sin título.rtf

Getting and Cleaning Data/Course project/codebook.rtf
